/* Corpo da página */
body {
    background-color: grey;
    font-family: 'Bebas Neue', sans-serif;
    margin: 20px;
}

/* Títulos */
h1 {
    font-size: 50px;
    text-align: center;
    color: white;
}

h2 {
    font-size: 38px;
    color: white;
}

/* Textos */
p {
    font-size: 25px;
    color: black;
}

/* Imagem do perfil */
#midia {
    width: 95px; 
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    float: right;  /* ou left, se preferir */
    margin: -120px 0 20px 20px; /* topo 0, direita 0, baixo 20px, esquerda 20px */
}

/* Limpar float para evitar que o texto passe por cima */
body::after {
    content: "";
    display: table;
    clear: both;
    margin: 0px;
}

/* Imagens de projetos */
.projeto {
    width: 400px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;

}

a {
    text-decoration: none;
}

#imagem1 {
    background: black;
    display: inline-block;
    width: 500px;
    height: 170px;
    padding: 15px;
    margin: 20px;
}



  
#imagem2 {
background: black;
    display: inline-block;
    width: 500px;
    height: 170px;
    padding: 15px;
    margin: 20px;
}



#ano {
    color: rgb(244, 193, 66);
}



#km {
    color: rgb(244, 193, 66);
}

h2 {
    color: black
}

p{
    color: white
}

#dinheiro {
    color: rgb(244, 193, 66);
}